.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-gap: 20px;
}

@media (width <= 768px) {
  .cards > ul {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.cards > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  border-radius: 10px;
}

.cards .cards-card-body, .cards .cards-card-image {
  text-align: center;
  position: relative;
}

.cards .cards-card-body{
  padding:20px;
}

.cards .cards-card-body strong{
  font-size: 24px;
  font-weight: normal;
}

.cards .cards-card-image h2 {
  background-color:rgb(0 0 0 / 50%);;
  border-radius: 15px;
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--text-color-white);
  font-weight: 100;
  padding:0 15px;
  font-size: 24px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-image p {
  margin: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
